@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #330000;
    /* font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif; */
    font-family: "kinto-sans", sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.1em;

}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

h1 {
    width: 480px;
}

button {
    width: 332px;
    height: 42px;
    background-image: url('../images/button.png');
    display: block;
    /* ブロック要素に */
    margin: 50px auto;
    /* 左右のマージンを自動で均等に */
    border: none;
    color: #330000;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    /* 影を追加 */
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

button:hover {
    box-shadow: none;
    transform: translate(3px, 3px);
    /* 右に3px、下に3px移動 */
}