@charset "utf-8";

/* ヘッダー関係 */

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 2% 0 2%;
}



.pc_nav ul {
    display: flex;
    gap: 60px;
}

.pc_nav li {
    font-family: "kinto-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-align: center;
    letter-spacing: normal;
}

.pc_nav a {
    position: relative;
}

a::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 110%;
    height: 2px;
    background: #ffcc33;
    bottom: 7px;
    /*アンダーラインが現れ始める位置（aタグの下辺からの高さ）*/
    opacity: 0;
    /* visibility: hidden; */
    transition: 0.1s;
}

a:hover::after {
    /* visibility: visible; */
    bottom: -3px;
    /*アニメーションが止まる位置*/
    opacity: 1;
}



/* メインビジュアル */

.main_visual {
    margin-top: 40px;
    position: relative;
}

.main_visual img {
    display: block;
    width: 85%;
    margin-left: auto;

}

.main_visual p {
    position: absolute;
    bottom: 10%;
    left: 7%;
    font-size: 60px;
    line-height: 1.3;

}

.main_visual span {
    padding-left: 58px;
}

/* キャッチコピー */
.main_copy {
    width: 85%;
    font-size: 18px;
    line-height: 1.8;
    margin-top: 30px;
    margin-left: auto;
}

/* ↓　内　容　↓ */
.content {
    max-width: 1000px;
    padding: 0 10px;
    margin: 200px auto 0 auto;
    position: relative;
    /* box-sizing: border-box; */
}

.content_about {
    max-width: 850px;
    padding: 0 10px;
    margin: 230px auto 0 auto;
    position: relative;
    /* box-sizing: border-box; */
}

.content_contact {
    max-width: 100%;
    /* padding: 0 10px; */
    margin: 230px auto 0 auto;
    position: relative;
    /* box-sizing: border-box; */
}

/* タイトル関係 */

.title_large {
    margin-top: 120px;
    margin-left: 7%;
    font-size: 60px;
    font-family: "kinto-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    display: inline-block;
}

.title_large::before {
    content: "";
    position: absolute;
    top: 50%;
    /* 下に配置 */
    left: -0.1em;
    /* 横中央に配置 */
    width: 1.2em;
    /* 丸の直径 */
    height: 1.2em;
    background-color: #fcf0d0;
    /* 丸の色 */
    border-radius: 50%;
    /* 正円にする */
    margin-top: 2px;
    /* 文字との間隔 */
    z-index: -1;
    transform: translateY(-50%);
}

.title_middle {
    font-size: 40px;
    text-align: center;
    font-weight: normal;
}

.title_small {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 15px 0;
}

.subtitle {
    text-align: center;
    font-size: 18px;
    margin: 40px 0 50px 0;
}

/* アンダーライン関係 */
.underline {
    margin: 10px 0 20px 0;
    position: relative;
    display: inline-block;
}

.underline::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    width: calc(100% - 10px + (100vw - (100% * (100 / 40)))/2);
    height: 2px;
    background-color: #ffcc33;
}

.underline_left {
    margin: 0 0 30px 0;
    position: relative;
}

.underline_left::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -15px;
    width: calc(100% + (100vw - 100%) / 2);
    height: 2px;
    background-color: #ffcc33;
}

.underline_right {
    margin: 0 0 30px 0;
    position: relative;
}

.underline_right::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    width: calc(100% - 10px + (100vw - 100%) / 2);
    height: 2px;
    background-color: #ffcc33;
}


/* わたしのこと */

#about {
    display: flex;
    justify-content: space-between;
}

#about h2 {
    text-align: left;
    width: 100%;
}

#about img {
    width: 100%;
    height: auto;
}

#about p {
    font-size: 16px;
    line-height: 1.3;
    margin: 25px 0;
}

.about_left {
    width: 55%;
}

.about_right {
    width: 40%;
}


/* できること・つくったもの関係 */

.skill-work ul {
    display: flex;
    justify-content: space-between;
}

.work_list {
    display: flex;
    gap: 8%;
    justify-content: flex-start;
    /* 左寄せ */
}

.work_list li,
.skill-work li {
    width: 28%;
}

.work_list img,
.skill-work img {
    margin-top: 30px;
    width: 100%;
    height: auto;
}

.work_list img {
    margin-top: 60px;
}

.skill-work p {
    line-height: 1.5;
}

.work_text {
    text-align: center;
}

.work_text2 {
    text-align: center;
    margin-top: 30px;
    /* マージンあり */
}

/* 「つくったもの」のボタン */

.button_small {
    width: 280px;
    height: 40px;
    background-image: url('../images/button_s.png');
    display: block;
    /* ブロック要素に */
    margin: 30px auto;
    /* 左右のマージンを自動で均等に */
    border: none;
    color: #330000;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    /* 影を追加 */
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.button_small:hover {
    box-shadow: none;
    transform: translate(3px, 3px);
    /* 右に3px、下に3px移動 */
}

/* #skill li {
    width: 28%;
} */

#work li {
    width: 29%;
    cursor: pointer;
    /* トップページの「作ったもの」のところ */
}

/* スキルのスキルの部分 */

.skill_box1,
.skill_box2 {
    display: flex;
    font-weight: bold;
    font-size: 16px;
    height: 50px;
    padding: 0 7%;
    justify-content: space-between;
    align-items: center;
}

.skill_box1 {
    margin-top: 70px;
}

.skill_box2 {
    margin-top: 50px;
}

.skill_box_title {
    width: 25%;
}

.skill_box_long,
.skill_box_small {
    display: flex;
    /* FlexをONにする */
    justify-content: center;
    /* 横中央 */
    align-items: center;
    /* 縦中央 */
    border: solid 2px #330000;
    height: 100%;
}

.skill_box_long {
    width: 73%;
    padding-left: 2%;
    box-sizing: border-box;
    background-image: url("../images/skill_backlong_pc.svg");
    background-size: 80%;
    background-repeat: no-repeat;
    /* 繰り返しなし */
    background-position: center;
    /* 中央に配置 */
}

.skill_box_small {
    width: 23%;
    gap: 2%;
    background-image: url("../images/skill_back.svg");
    background-size: 80%;
    background-repeat: no-repeat;
    /* 繰り返しなし */
    background-position: center;
    /* 中央に配置 */
}


/* 詳細ページのメッセージの部分 */

.message_rihgt {
    position: relative;
    margin-top: 230px;

}

.message_rihgt img {
    width: 200px;
    position: absolute;
    top: -500%;
    right: 15%;
    z-index: -1;
}

.message_left {
    position: relative;
    margin-top: 230px;
}

.message_left img {
    width: 200px;
    position: absolute;
    top: -500%;
    left: 15%;
    z-index: -1;
}

.message {
    font-size: 16px;
    text-align: center;
}

/* 連絡ください */

.skill-work_right {
    padding-left: 15%;
}

.skill-work_left {
    padding-left: 15%;
}

.contact_detail {
    margin-top: 40px;
    position: relative;
}

.contact_detail img {
    display: block;
    width: calc(100% - 10px + (100vw - 100%) / 2);
    max-width: none;
}

.contact_text_right,
.contact_text_left {
    position: absolute;
    bottom: 40%;
    font-size: 36px;
}

.contact_text_left {
    left: -7%;
}

.contact_text_right {
    left: -7%;
}

.button_right {
    margin: 50px auto 50px 0;
}

.button_left {
    margin: 50px 0 50px auto;
}

/* トップページの「連絡ください」 */

#contact div {
    margin-top: 40px;
    position: relative;
}

#contact img {
    display: block;
    width: 85%;
}

#contact p {
    position: absolute;
    bottom: 43%;
    right: 7%;
    font-size: 36px;
}

/* #contact .underline_left {
    margin: 0 0 30px 0;
    position: relative;
} */


#contact .underline_left::after {
    left: 0;
    width: 85%;
}

/* フッター */

footer {
    margin: 220px 0 65px 0;
}

.footer_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4%;
    cursor: pointer;
}

/* .pc_nav_footer ul {
    display: flex;
    gap: 60px;
}

.pc_nav_footer li {
    font-family: "kinto-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    width: 82px;
    text-align: center;
    letter-spacing: normal;

} */

.pc_nav_copyright {
    display: flex;
    gap: 27px;
    font-family: "kinto-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    letter-spacing: normal;
    align-items: center;
}

.pc_nav_copyright img {
    width: 75px;
    height: auto;
}